body{
    background-color: beige;
    font-family: 'Lato', sans-serif;    
    font-size: 14px;
    margin:0;
}

/*ANTES*/
#hmenu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/*DESPUES*/
a#hmenu{
    color: #000000;
}

#hmenu li:hover {
    background: #a3cd39;
    text-shadow: 0 0 2px #000;
}

#hmenu > li{
    display: inline-block;
}

#hmenu > li > a{
    display: block;
    padding: 10px 5px;
    width: 90px;
}

li:hover ul{
    display: block;
}

li > ul{
    position: absolute;
    display: none;
    background: #333;
}

ul#hmenu {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    list-style: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FFC219;
}

img{
	max-width: 100%;
}

.quitar-float{
	float: none;
}

.espacio-arriba{
	margin-top: 100px;
}

.pacifico {
	font-family: 'Montserrat', sans-serif;
}

.grande {
	font-size: 3em;
}

.amarillo {
	color: #FFC219;
}

.espacio-derecha {
	margin right: 3em;
}

h1 {
    color: black;
    text-align: center;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.box { 
	margin: 0;
	padding: 0 5px;
	background-color: #fff;
}

#foot h2, #foot h4{
    color: white;
    font-family: 'Verdana';
}

footer.container-fluid.text-center.foot .copyright{
    color: blue;
    font-weight: bold;
}

footer.container-fluid.text-center.foot, header {
    background: #383838;
}

footer.container-fluid.text-center.foot .copyright{
    background: beige;
}

footer.foot{
    padding-top: 20px;    
}

aside.twitter{
    margin-top: -450px;
    position: absolute;
    right: 0;    
}

.foot h4{
    font-size: 16px;
}

.foot p{
    font-size: 14px;   
}

div#contenedorGithub {
  width: 100%;
  margin: 40px auto;
  overflow: hidden;
}
 
div#contenedorGithub section {
    width: 65%;
}
 
div#contenedorGithub aside.lecturas {
    float: left;
    width: 25%;
    margin-left: 5%;
    margin-top: 30px;
    margin-right: 10px;
}

.headerGit{
    display: block;
    text-align: left;
}

.headerGit img{
    width: 30%;
    margin: 20px 0px;
}

.headerGit .githubpages{
    width: 100%;
}

.headerGit p{
    font-size: 16px;
}

h1.headerH{
    margin-top: 40px;
    margin-bottom: 20px;
}

.headTable p{
    background: blue;
}

#menu {
    position: fixed;
    float: left;
    margin: 80px 10px;
    width: 300px;
    list-style: none;
    line-height: 20px;
    text-align: left;
    border-right: 1px solid #D4D4D4;
    z-index: 100;
}

#menu li{
    display: block;
}

#menu li a {
    display: inline-block;    
    color: gray;
    font-weight: bold;
    text-decoration: none;
    border-right: 4px solid transparent;
}

ul.listaTexto li{
    list-style: circle;
    margin: 5px 0px;
}

ol.listaTexto li{
    list-style: decimal;
    margin: 5px 0px;
}

.tituloMenu{
    text-decoration: underline;
    color: #F7532B;
    font-weight: bold;
    text-align: center;
}

.btnSocial{
    width: 40%;
    float: left;
}

.btnSocial img{
    width: 30px;
    height: 30px;
}

.btnsocial ul{
    list-style: none;
}

.btnSocial ul li a{ 
    text-decoration: none;
}

.btnSocial a:hover{
    font-weight: bold;
}

@media only screen and (max-width: 900px) {    
    #menu {
        display: none;
    }

    .headerGit img{
        width: 100%;
    }
}