<!DOCTYPE html>
<html>
<head>
	<meta name="index" content="text/html;" http-equiv="content-type" charset="utf-8">
	<meta description="Diseño de sitios web" charset="utf-8">
	<title>Dise&#241;o de Sitio Web</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/main.css"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet"/>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
</head>
<body>
	<header>
		<nav>				
			<div>
				<ul id="hmenu">
					<li><a href="index.html">Inicio</a></li>
					<li><a href="lectura.html">Lecturas</a>
						<ul class="sub-menu">
							<li><a href="#">GIT</a></li>
							<li><a href="#">GITHUB</a></li>
							<li><a href="#">GITHUB PAGES</a></li>
							<li><a href="#">HTML5</a></li>
							<li><a href="#">CSS3</a></li>
						</ul>
					</li>
					<li><a href="#">Multimedia</a>
						<ul>
							<li><a href="#">GIT/GITHUB</a></li>
							<li><a href="multimedia.html">HTML5/CSS3</a></li>
						</ul>
					</li>
					<li><a href="about.asp">Autores</a>
						<ul>
							<li><a href="#">JUAN CIFUENTES</a></li>
							<li><a href="#">JONATHAN VALENCIA</a></li>
							<li><a href="#">ROBERTO SERRANO</a></li>
							<li><a href="#">ARLEX LLANOS</a></li>
							<li><a href="#">JHON OBANDO</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<br />
	<br />
</body>
</html>